header{
    width: 100%;
    z-index: 2;
    position: absolute;

}

.header-wrraper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
font-size: 24px;
font-weight: 700;
line-height: 1.8;
letter-spacing: 0.03em;
margin-right: auto;
}
nav{
    margin-right: 100px;
}
.nav-list{
    display: flex;
    justify-content: space-around;
}

.nav-item a{
    font-weight: 500;
color: white;
font-size: 18px;
transition: color 500ms ease;
display: block;
position: relative;
}

.nav-item a::before{
    
        content: '';
        height: 4px;
        width: 0;
        border-radius: 2px;
        display: block;
        background-color: white;
        position: absolute;
        bottom: -3px;
      transition: all .3s ease;
}

.nav-item a:hover::before{
    width: 100%;

}

.nav-item:not(:last-child){
    margin-right: 16px;
}